<h1>Show Tin</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, EulerWeb.TinLive.FormComponent,
    id: @tin.id,
    title: @page_title,
    action: @live_action,
    tin: @tin,
    return_to: Routes.tin_show_path(@socket, :show, @tin) %>
<% end %>

<ul>

  <li>
    <strong>Date:</strong>
    <%= @tin.date %>
  </li>

  <li>
    <strong>Number:</strong>
    <%= @tin.number %>
  </li>

  <li>
    <strong>Is correct:</strong>
    <%= @tin.is_correct %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.tin_show_path(@socket, :edit, @tin), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.tin_index_path(@socket, :index) %></span>
